.container {
	display: flex;
	gap: 24px;
	cursor: pointer;
}

.story-container {
	display: flex;
	flex-direction: column;
}

h4 {
	margin-bottom: 8px;
}

.comment-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}